
  {{!-- --------------------------- nav-------------------------
  <nav class="navbar navbar-expand-lg navbar-primary mx-auto bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">  News api</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
       <a href="https://web.facebook.com/"><i class="fab fa-facebook-f fs-4 pt-2 mx-4 text-primary"></i></a> 
        </li>
      <button onclick="myfanction()">20</button>
        <li class="nav-item">
       <a href="https://www.twitter.com"><i class="fab fa-twitter fs-4 pt-2 mx-4 text-primary"></i>
  </a>       </li>
       
        

    </div>
  </div>
</nav>
------------------------- --}}
